@model DriveNow.Models.Vehicle

@{
    ViewData["Title"] = "Details";
}

<div>
    <h4>@Html.DisplayFor(model => model.Brand) @Html.DisplayFor(model => model.Model)</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.LicensePlate)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.LicensePlate)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.ManufactureYear)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.ManufactureYear)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.FuelType)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.FuelType)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(m => m.IsRented)
        </dt>
        @if (Model.IsRented)
        {
            <dd class="col-sm-10">
                <span class="badge bg-secondary">Yes</span>
            </dd>
        }
        else
        {
            <dd class="col-sm-10">
                <span class="badge bg-light text-dark border">No</span>
            </dd>
        }
    </dl>
</div>

<div class="mt-3">
    <a asp-action="Edit" asp-route-id="@Model?.Id" class="btn btn-primary me-2">
        <i class="bi bi-pencil"></i> Edit
    </a>
    <a asp-action="Index" class="btn btn-outline-secondary">
        <i class="bi bi-arrow-left"></i> Back to List
    </a>
</div>
