@model DriveNow.Models.RentalContract

@{
    ViewData["Title"] = "Details";
}

<div>
    <h4>@Model.Customer.FullName | @Model.Vehicle.LicensePlate</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-3 fw-normal">Customer</dt>
        <dd class="col-sm-9 fw-bold">@Model.Customer.FullName</dd>

        <dt class="col-sm-3 fw-normal">Vehicle</dt>
        <dd class="col-sm-9 fw-bold">@Model.Vehicle.LicensePlate</dd>

        <dt class="col-sm-3 fw-normal">Start Date</dt>
        <dd class="col-sm-9 fw-bold">@Model.StartDate.ToShortDateString()</dd>

        <dt class="col-sm-3 fw-normal">End Date</dt>
        <dd class="col-sm-9 fw-bold">@Model.EndDate.ToShortDateString()</dd>

        <dt class="col-sm-3 fw-normal">Initial Mileage</dt>
        <dd class="col-sm-9 fw-bold">@Model.InitialMileage</dd>
    </dl>
</div>

<div class="mt-3">
    <a asp-action="Edit" asp-route-id="@Model.Id" class="btn btn-warning me-2">
        <i class="bi bi-pencil"></i> Edit
    </a>
    <a asp-action="Index" class="btn btn-outline-dark">
        <i class="bi bi-arrow-left"></i> Back to List
    </a>
</div>
