@model DriveNow.Models.Vehicle
@inject Microsoft.AspNetCore.Mvc.Localization.IViewLocalizer Localizer

@{
    ViewData["Title"] = Localizer["Title_DetailsVehicle"];
}

<div>
    <h4>@Html.DisplayFor(model => model.Brand) @Html.DisplayFor(model => model.Model)</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2 fw-normal">
            @Localizer["Label_LicensePlate"]
        </dt>
        <dd class="col-sm-10 fw-bold">
            @Html.DisplayFor(model => model.LicensePlate)
        </dd>

        <dt class="col-sm-2 fw-normal">
            @Localizer["Label_ManufactureYear"]
        </dt>
        <dd class="col-sm-10 fw-bold">
            @Html.DisplayFor(model => model.ManufactureYear)
        </dd>

        <dt class="col-sm-2 fw-normal">
            @Localizer["Label_FuelType"]
        </dt>
        <dd class="col-sm-10 fw-bold">
            @Html.DisplayFor(model => model.FuelType)
        </dd>

        <dt class="col-sm-2 fw-normal">
            @Localizer["Label_Status"]
        </dt>
        <dd class="col-sm-10 fw-bold">
            @if (Model.IsRented)
            {
                <span class="badge bg-danger d-inline-block text-center" style="min-width: 75px;">@Localizer["Status_Rented"]</span>
            }
            else
            {
                <span class="badge bg-success border d-inline-block text-center" style="min-width: 75px;">@Localizer["Status_Available"]</span>
            }
        </dd>
    </dl>
</div>

<div class="mt-3">
    <a asp-action="Edit" asp-route-id="@Model?.Id" class="btn btn-warning me-2">
        <i class="bi bi-pencil"></i> @Localizer["Button_Edit"]
    </a>
    <a asp-action="Index" class="btn btn-outline-dark">
        <i class="bi bi-arrow-left"></i> @Localizer["Button_BackToList"]
    </a>
</div>